@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

html, body{
    height:100%;
    font-size: 1em;
    font-family: urbanist, sans-serif;
}

body{
    background-image:url(../images/pandemic_map.jpg);
    background-repeat: no-repeat;    
    background-attachment: fixed;
    /* background-position: center;
    background-position-x: center;
    background-position-y: center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#black-box{
    text-align: center;
    margin: 0 auto;
    width:50%;
    /* background-image:url(../images/covid_stats_bg.jpg);
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

/* nav bar + footer styling */

h1{
    text-align: center;
    margin: 0 auto;
    font-size:1.5rem;
}

ul{
    text-align: center;
}

ul li{
    font-family: Lato, sans-serif;
    display:inline;
    list-style-type: none;
    margin: 0 0.5rem;
}

ul li:hover{
    background-color: rgba(86,96,68, 0.9);
}

li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer{
    background-color: rgba(63,75,44, 0.9);
    height:1.2rem;
    position: fixed;
    width:100%;
    bottom:0;
}

header{
    background-color: rgba(63,75,44, 0.9);
    color:white;
}

header h1 span{
    color:yellowgreen;
}