@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

html, body{
    height:100%;
    font-size: 1em;
}

body{
    background-image:url(../images/pandemic_map.jpg);
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
}

/*#region header */
header h1{
    text-align: center;
    margin: 0 auto;
    font-size:1.5rem;
    font-family: urbanist, sans-serif;
}

header{
    background-color: rgba(63,75,44, 0.9);
    color:white;
}

header h1 span{
    color:yellowgreen;
}

ul{
    text-align: center;
}

ul li{
    font-family: Lato, sans-serif;
    display:inline;
    list-style-type: none;
    margin: 0 0.5rem;
}

ul li:hover{
    background-color: rgba(86,96,68, 0.9);
}

li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
/*#endregion header*/

/*#region Content */
.parent {
    width:75%;
    margin: 0 auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
    
.site-descriptor, .epidemic-definition, .pandemic-definition{
    background-color: rgba(0, 0, 0, 0.95);
    padding:2vh;
}

.site-descriptor p:nth-child(-n+2){
    padding-bottom: 15px;    
}
.site-descriptor { 
    grid-area: 1 / 1 / 2 / 3; 
    max-height:50vh;
    padding: 2vh;
}
.epidemic-definition { 
    grid-area: 2 / 1 / 3 / 2;
    max-height:15vh;
}
.pandemic-definition { 
    grid-area: 2 / 2 / 3 / 3;
    max-height:15vh;
}

main p{
    text-align: center;
    color:whitesmoke;
    font-family: Lato, sans-serif;
    font-size: 2.9vw;
}
/*#endregion Content*/

/*#region Footer */

footer{
    font-family: Urbanist, sans-serif;
    background-color: rgba(63,75,44, 0.9);
    color:white;
    height:2rem;
    position: fixed;
    width:100%;
    bottom:0;
}

footer span{
    font-size: 0.9rem;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer a{
    color: white;
}

.social-icons{
    font-size: 1.25rem;
    margin: 0;
    position: absolute;
    top: 50%;
    right:0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.social-icons a{
    text-decoration: none;
    margin-right: 5px;
}
/*#endregion Footer*/

/* Tablet */
@media only screen and (min-width: 600px) {
    main p{
        font-size:2.25ch;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    .parent{
        width:75%;
        margin-top:2.5%;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
    .parent{
        width: 50%;
        margin-top:2.5%;
    }
}
