@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

html, body{
    height:100%;
    font-size: 1em;

}

body{
    background-image:url(../images/pandemic_map.jpg);
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
}

/*#region nav bar + footer styling*/
header h1{
    text-align: center;
    margin: 0 auto;
    font-size:1.5rem;
    font-family: urbanist, sans-serif;
}

ul{
    text-align: center;
}

ul li{
    font-family: Lato, sans-serif;
    display:inline;
    list-style-type: none;
    margin: 0 0.5rem;
}

ul li:hover{
    background-color: rgba(86,96,68, 0.9);
}

li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer{
    background-color: rgba(63,75,44, 0.9);
    height:1.2rem;
    position: fixed;
    width:100%;
    bottom:0;
}

header{
    background-color: rgba(63,75,44, 0.9);
    color:white;
}

header h1 span{
    color:yellowgreen;
}
/*#endregion nav bar + footer styling*/

/*#region Page content styling */
.description {
    background-color: rgba(0, 0, 0, 0.6);
    width:50%;

    position: relative;
    margin: 0 auto;
    padding: 5px;
    top: 10rem;
}

main p{
    text-align: center;
    color:whitesmoke;
    font-family: Lato, sans-serif;
    font-size: 2ch;
}

@media only screen and (max-width: 600px) {
    main p {
      font-size : 1.5ch;
    }
  }

/*#endregion Page content styling*/

