@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body, html{
    height:100%;
}


/*#region header */
header h1{
    text-align: center;
    margin: 0 auto;
    font-size:1.5rem;
    font-family: urbanist, sans-serif;
}

header{
    background-color: rgba(63,75,44, 0.9);
    color:white;
}

header h1 span{
    color:yellowgreen;
    color:red;
}

header ul{
    text-align: center;
}

header ul li{
    font-family: Lato, sans-serif;
    display:inline;
    list-style-type: none;
    margin: 0 0.5rem;
}

header ul li:hover{
    background-color: rgba(86,96,68, 0.9);
}

header li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
/*#endregion header*/

/*#region content */

/*#region Seperator */
.pointer{
    position: absolute;
    width:100%;
}

.chevron{
    position: relative;
    top: 1.5vw;
}

.left-line{
    background-color: black;
    height: 1px;
    width: 47%;
    position: absolute;
}

.right-line{
    background-color: black;
    width:47%;
    height:1px;
    right:0;
    position: absolute;
}

.left-arrow{
    background-color: black;
    width:3%;
    height:1px;
    right:47%;
    position: absolute;
    transform: skewy(-45deg);
}

.right-arrow{
    background-color: black;
    width:3%;
    height:1px;
    right:50%;
    position: absolute;
    transform: skewy(45deg);
}
/*#endregion Seperator */

main{
    background-color: #A5B6A5;
    background-image: url(../images/pandemic_map.jpg);
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main li{
    font-family: lato;
}

p{
    font-family: urbanist, sans-serif;
}

main p{
    padding: 5px;
    text-align: center;
}

img{
    display:block;
    width: 100%;  
}

.hr{
    width:25%;
    height: 10px;
    background-color:red;
}

ul li{

}

/*#endregion content */

/*#region Footer */
footer{
    font-family: Urbanist, sans-serif;
    background-color: rgba(63,75,44, 0.9);
    color:white;
    height:2rem;
    position: fixed;
    width:100%;
    bottom:0;
}

footer span{
    font-size: 0.9rem;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer a{
    color: white;
}

.social-icons{
    font-size: 1.25rem;
    margin: 0;
    position: absolute;
    top: 50%;
    right:0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.social-icons a{
    text-decoration: none;
    margin-right: 5px;
}
/*#endregion Footer*/

/* Tablet */
@media only screen and (min-width: 600px) {
    header h1 span{
        color:green;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    header h1 span{
        color:blue;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
    header h1 span{
        color:yellow;
    }
}