@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body, html{
    height:100%;
}

body{
    background-image: url(../images/pandemic_map.jpg);
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
}

/*#region header */
header h1{
    text-align: center;
    margin: 0 auto;
    font-size:1.5rem;
    font-family: urbanist, sans-serif;
}

header{
    background-color: rgba(63,75,44, 0.9);
    color:white;
}

header h1 span{
    color:yellowgreen;
    color:red;
}

header ul{
    text-align: center;
}

header ul li{
    font-family: Lato, sans-serif;
    display:inline;
    list-style-type: none;
    margin: 0 0.5rem;
}

header ul li:hover{
    background-color: rgba(86,96,68, 0.9);
}

header li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
/*#endregion header*/

/*#region content */
.overlay{
    background-color: rgba(255, 255, 255, 0.15);
    width:100%;
    /* need to set main to 100% to work, then set z-index on stuff to put them infront of overlay */
    position: static;
    height:100%;
}

.seperator{
    width:90%;
    height:2px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 40px;
}

.list-parent{
    text-align: center;
}

main ul{
    text-align: left;
    display:inline-block;
    padding:10px;
    margin: 10px 0px 30px 0px;
    background-color: rgba(0, 0, 0, 0.9);
    list-style-position: inside;

}

main li{
    font-family: lato;
    font-size: 0.75rem;
    color:white;
 
}

h2, h3 {
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	width: 70%;
	margin: 0 auto;
}

h2{
    font-size: 1.5rem;
    text-decoration: underline;
}

h3{
    margin-bottom: 10px;
}

p{
    font-family: urbanist, sans-serif;
}

main p {
	font-family: lato, sans-serif;
	font-size: 0.75rem;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
}

img {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 3px solid black;
    margin-bottom: 40px;
}

main i{
    text-align: center;
    width: 100%;
    font-size: 3rem;
}

ul li a{
    color: white;
    text-decoration: none;
}

main ul li a:hover{
    background-color:  rgba(63,75,44, 0.9);;
}

/*#endregion content */

/*#region Footer */
footer{
    font-family: Urbanist, sans-serif;
    background-color: rgba(63,75,44, 0.9);
    color:white;
    height:2rem;
    position: fixed;
    width:100%;
    bottom:0;
}

footer span{
    font-size: 0.9rem;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer a{
    color: white;
}

.social-icons{
    font-size: 1.25rem;
    margin: 0;
    position: absolute;
    top: 50%;
    right:0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.social-icons a{
    text-decoration: none;
    margin-right: 5px;
}
/*#endregion Footer*/

/* Tablet */
@media only screen and (min-width: 600px) {
    header h1 span{
        color:green;
    }

    h2{
        font-size: 1.75rem;
    }

    h3{
        font-size: 1.25rem;
    }

    main p{
        font-size: 1rem;
    }

    img{
        max-width: 600px;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    header h1 span{
        color:blue;
    }

    h2, h3{
        width:40%;
    }
    main p{
        width:60%;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
    header h1 span{
        color:yellow;
    }
}